extends base.pug

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="name",name="name", type="text", required=true)
        input(placeholder="eamil",name="email",  type="email", required=true)
        input(placeholder="username",name="username", type="text", required=true)
        input(placeholder="password",name="password1", type="password", required=true)
        input(placeholder="ConfirmPassword",name="password2", type="password", required=true)
        input(placeholder="location",name="location", type="text", required=true)
        input(type="submit", value="Join")
    hr
    div     
        span Already have an account?
        a(href="/login") Login now &rarr;